global
        log 127.0.0.1   local0
        log 127.0.0.1   local1 debug
        maxconn   45000 
        daemon
        nbproc      2
defaults
        timeout server 86400000
        timeout connect 86400000
        timeout client 86400000
        timeout queue   1000s

# [HTTP Site Configuration]
listen  http_web 192.168.61.130:80
        mode http
        balance roundrobin  
        option httpchk
        option forwardfor
        server ans-web01 ans-web01.client.local:80 weight 1 maxconn 512 check
        server ans-web02 ans-web02.client.local:80 weight 1 maxconn 512 check
        server ans-web03 ans-web03.client.local:80 weight 1 maxconn 512 check